[viewBag]
==
<!-- ========================= header-4 start ========================= -->
      <header class="header header-4">
        <div class="navbar-area">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href="index.html">
                    <img src="/themes/pkurg-basefree/assets/img/logo/logo.svg" alt="Logo" />
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent4" aria-controls="navbarSupportedContent4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent4">
                    <ul id="nav4" class="navbar-nav ml-auto">
                      
                      <li class="nav-item">
                        <a class="page-scroll" href="/">Home</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="page-scroll active" href="#0"  data-toggle="collapse" data-target="#sub-nav" aria-controls="sub-nav"
                        aria-expanded="false" aria-label="Toggle navigation">Home
                          <div class="sub-nav-toggler">
                            <span> <i class="lni lni-chevron-down"></i> </span>
                          </div>
                        </a>
                        <ul class="sub-menu collapse" id="sub-nav">
                          <li><a href="/" class="active">Home Style One</a></li>
                          <li><a href="index-2.html">Home Style Two</a></li>
                          <li><a href="index-3.html">Home Style Three</a></li>
                        </ul>
                      </li>
                      
                      
                      <li class="nav-item">
                        <a class="page-scroll" href="#0"  data-toggle="collapse" data-target="#sub-nav2" aria-controls="sub-nav2"
                        aria-expanded="false" aria-label="Toggle navigation">Pages
                          <div class="sub-nav-toggler">
                            <span> <i class="lni lni-chevron-down"></i> </span>
                          </div>
                        </a>
                        <ul class="sub-menu collapse" id="sub-nav2">
                          <li><a href="about-page.html">About Page</a></li>
                          <li><a href="team-page.html">Team Page</a></li>
                          <li><a href="blog.html">Blog Page</a></li>
                          <li><a href="single-blog.html">Blog Single Page</a></li>
                          <li><a href="pricing-page.html">Pricing Page</a></li>
                          <li><a href="testimonial-page.html">Testimonial Page</a></li>
                        </ul>
                      </li> -->
                      <li class="nav-item">
                        <a class="page-scroll" href="/about">About Us</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="page-scroll" href="pricing-page.html">Pricing</a>
                      </li> -->
                      <li class="nav-item">
                        <a class="page-scroll" href="/contact">Contact</a>
                      </li>
                    </ul>
                    
                  </div>
                  <div class="header-search">
                    <a href="#0"> <i class="lni lni-search-alt"></i> </a>
                    <form action="#">
                      <input type="text" placeholder="Type for search...">
                    </form>
                  </div>
                  <!-- navbar collapse -->
                </nav>
                <!-- navbar -->
              </div>
            </div>
            <!-- row -->
          </div>
          <!-- container -->
        </div>
        <!-- navbar area -->
      </header>
      <!-- ========================= header-4 end ========================= -->