==
<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Base - Multipurpose Bootstrap 5 Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.svg"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap-5.0.0-alpha-2.min.css' | theme }}" />
    <link rel="stylesheet" href="{{ 'assets/css/LineIcons.2.0.css' | theme }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/animate.css' | theme }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/lindy-uikit.css' | theme }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/base-style.css' | theme }}"/>
    {% styles %}
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
      <div class="loader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-rotator">
              <div class="spinner-left">
                <div class="spinner-circle"></div>
              </div>
              <div class="spinner-right">
                <div class="spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ========================= preloader end ========================= -->

   {% page %}

    <!-- ========================= scroll-top start ========================= -->
    <a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>
    <!-- ========================= scroll-top end ========================= -->
		

    <!-- ========================= JS here ========================= -->
    <script src="{{ 'assets/js/bootstrap.5.0.0.alpha-2-min.js' | theme }}"></script>
    <script src="{{ 'assets/js/count-up.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/wow.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/main.js' | theme }}"></script>
    {% scripts %}
  </body>
</html>